@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Poppins:wght@500&family=Source+Sans+Pro:ital,wght@1,600&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #fafaff; Ghost White Background Color */
  /* background-color: #eeebff; Lavender Web Background Color */
  background-color: #eefbf5; /*Mint cream Background Color */
}
p {
  font-family: "Poppins", sans-serif;
}
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
.stay_tuned_style {
  font-family: "Source Sans Pro", sans-serif;
}
.container-fluid {
  background-color: #ece9ea;
}

._style {
  font-family: "Mate SC", serif;
  font-size: larger;
  background-image: linear-gradient(#546a7b, #546a7b),
    linear-gradient(#ece9ea, #ece9ea);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.25s ease-in;
}
._style:hover {
  font-style: italic;
  font-family: "Mate SC", serif;
  background-size: 100% 4px, auto;
}
.nav_right {
  font-family: "Mate SC", serif;
  font-size: larger;
  background-image: linear-gradient(#546a7b, #546a7b),
    linear-gradient(#ece9ea, #ece9ea);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.25s ease-in;
}
.nav_right:hover {
  font-style: italic;
  font-family: "Mate SC", serif;
  background-size: 100% 4px, auto;
}
.container {
  margin-bottom: 70px;
  padding-bottom: 70px;
}

.image_style {
  height: 100px;
  width: 100px;
  margin-left: 35px;
}

.image_style_icon {
  height: 80px;
  width: 80px;
  margin-left: 35px;
}

/* Style for 404 not found page */
._404 {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .image_style {
    height: 80px;
    width: 80px;
    margin-top: 35px;
  }

  .image_style_icon {
    height: 80px;
    width: 80px;
    margin-top: 35px;
  }
}
