<div class="container">
  <div class="row">
    <aside class="col-md-12">
      <h2>About</h2>
      <h4>Hi, I'm Armin. :)</h4>
      <p>I am a Front-End Developer. I did couple of projects in JS.</p>
    </aside>
    <section class="main col-md-12">
      <article>

      </article>
    </section>
  </div>
</div>