<div class="row">
  <div class="col-md-12">
    <h2>Register</h2>
    <hr />
    {{#if successMessage}}
      <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div><a class="btn btn-success pull-right" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
    {{else}}
      {{#if errorMessage}}
        <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
      {{/if}}

      <form action="/register" , method="POST">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" , placeholder="User Name" , name="userName" , id="userName" , class="form-control" , required value="{{userName}}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" , placeholder="Password" , name="password" , id="password" , class="form-control" , required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" , placeholder="Confirm Password" , name="password2" , id="password2" , class="form-control" , required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="email" , placeholder="Email Address" , name="email" , id="email" , class="form-control" , required />
            </div>
          </div>
        </div>

        <input type="submit" class="btn btn-success pull-right" value="Register" />
      </form>
    {{/if}}
  </div>
</div>