<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <h2
        class="animate__animated animate__fadeIn animate__delay-2s h2_style"
      >Comming Soon...</h2>
      <p
        class="animate__animated animate__fadeIn animate__delay-2s stay_tuned_style"
      >Stay Tuned for more Updates</p>
    </aside>
    <section class="main col-md-9">
      <article>
        <h2 class="animate__animated animate__fadeIn">Welcome!</h2><br />
        <p>This is the web application for displaying the employees who works at
          the company. Adding employee is one of its features. In addtion to
          that, you update the employee information by accessing to te specific
          route. Moreover, it can handle the photos that has been uploaded by
          user that works with multer. The website is also responsive.
        </p>
      </article>
      <br />
      <h3>This Web Application written in these languages:<br /></h3>
      <p><img
          src="https://iconape.com/wp-content/png_logo_vector/node-js-2.png"
          id="image_styles"
          class="animate__animated animate__fadeInUp image_style"
          alt="node photo"
        />
        <img
          src="https://cdn.iconscout.com/icon/free/png-512/javascript-2752148-2284965.png"
          class="animate__animated animate__fadeInUp image_style_icon"
          alt="JavaScript Icon"
        />
        <img
          src="https://image.flaticon.com/icons/png/512/919/919827.png"
          class="animate__animated animate__fadeInUp image_style_icon"
          alt="HTML Icon"
        />
        <img
          src="https://cdn4.iconfinder.com/data/icons/iconsimple-programming/512/css-512.png"
          class="animate__animated animate__fadeInUp image_style_icon"
          alt="CSS Icon"
        />
        <img
          src="https://cdn.iconscout.com/icon/free/png-256/handlebars-3-1175025.png"
          alt="handlebarsJS_source: https://iconscout.com/icon/handlebars-3"
          class="animate__animated animate__fadeInUp image_style"
        />
        <img
          src="https://cdn.iconscout.com/icon/free/png-256/postgresql-9-1175120.png"
          alt="PostgresSQL Icon"
          class="animate__animated animate__fadeInUp image_style"
        />
      </p>
    </section>
  </div>
</div>